.App {
  font-family: sans-serif;
  text-align: center;
}

.GridContainer {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}
